a {
    color: #0366d6;
}

code {
    color: #E01A76;
}

.btn-primary {
    color: #fff;
    background-color: #1b6ec2;
    border-color: #1861ac;
}


body {
    background-color: rgb(45, 45, 45);
    height: 100vh;
}

.text-color {
    color: white;
}

.notification {
    position: fixed;
    z-index: 1;
    top: 25px;
    right: 25px;
}

.control-background {
    background: rgb(95, 93, 97);
}