.group-container {
    background-color: rgb(95, 93, 97);
    margin-bottom: 15px;
    border-radius: 6px;
    color: white;
}

.scheduled-task-card {
    margin-bottom: 15px;
}

.unselected {
    opacity: .5;
}

.intervalType:hover {
    cursor: pointer;
}

.pointer:hover {
    cursor: pointer;
}